.divCont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contactList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: bisque;
  width: 35%;
  border-radius: 15px;
}

.formNewContac{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(49, 112, 170);
  margin: 1rem;
  width: 35%;
  height: 40px;
  border-radius: 15px;
}

.noContac {
  background-color: rgb(50, 189, 143);
  padding: 15px;
  border-radius: 5px;
}